<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>
<form action="">
	<label>Name</label>
	<input type="text" placeholder="First Last">
	<label>Email</label>
	<label>Password</label>
	<label>Confirmation</label>
</form>